.head{
    background:translucent;
}

.header{
    background: transparent;
}
 /* background-image: absolute; */
    /* background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; */

.gif {
    position: absolute;
    object-fit: cover;
    object-position: center;
    height: 100vh;
    width: 100vw;
}

.trans-item {
    --background: transparent;
    --color: white;
}